<mat-grid-list cols="1">


  <mat-accordion *ngFor="let systemGroup of systemGroups" multi>
    <mat-expansion-panel (afterExpand)="getSystem(systemGroup)" >
      <!-- Header -->
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{systemGroup.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-panel-description>

      </mat-panel-description>

    </mat-expansion-panel>
<!--
      <mat-expansion-panel-header>


      -->
  </mat-accordion>
</mat-grid-list>
