name: Publish Alpha

on:
  push:
    tags:
      - 'v*.*.*-alpha.*'

jobs:
  start:
    name: Publish Alpha Start
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.extract_version.outputs.version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Extract version from tag
        id: extract_version
        run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          echo "version=$VERSION" >> $GITHUB_OUTPUT

  build:
    name: Build Next.js App
    runs-on: ubuntu-latest
    needs: start
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: app/package-lock.json

      - name: Install dependencies
        run: npm ci
        working-directory: ./app

      - name: Build Next.js app
        run: npm run build
        working-directory: ./app


  publish:
    name: Publish Alpha
    runs-on: ubuntu-latest
    needs: [start, build]
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ghcr.io/codox/status-for-systems:alpha .
          docker tag ghcr.io/codox/status-for-systems:alpha ghcr.io/codox/status-for-systems:${{ needs.start.outputs.version }}

      - name: Push Docker images
        run: |
          docker push ghcr.io/codox/status-for-systems:alpha
          docker push ghcr.io/codox/status-for-systems:${{ needs.start.outputs.version }}